

<div class="profile" *ngIf="user$ | async as user">
  <img 
      [src]="user.picture"
      alt="User's Profile Picture"
      class="rounded-circle img-fluid profile-picture">
  <h1>{{ user.name }}</h1>
  <p>{{ user.email }}</p>
</div>

<div *ngIf="message" class="alert alert-warning alert-dismissible show" role="alert">
  {{message}}
 <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
</div>
<span class="add" >
<button (click)="openAddRecipe()" *ngIf="!showRecipeForm" class="create-recipe-btn">Create Recipe</button>
</span>
<div class="container">
  <div class="profile-header">
  <h1 class="profile-title">My Recipes</h1>
</div>

<div class="recipe-list">
  <div class="recipe-item" *ngFor="let recipe of recipeList" >
    <img class="img" *ngIf="recipe.image?.url" [src]="recipe.image.url" >
    <div class="recipe-details">
      <h3>{{ recipe.recipeName }}</h3>
     
      <button class="view-recipe-button">View Recipe</button>
    </div>
  </div>
</div>
</div>
