<div class="container">
  <h2>Community Recipes</h2>
    <div class="list row">
      <div class="col-md-8 " >
        <div class="input-group mb-3" >
          <input 
            type="text"
            class="form-control"
            placeholder="Search by meal"
            [(ngModel)]="recipeName" 
        
          />
          <div class="input-group-append" >
            <button
              class="btn btn-outline-sescondary"
              type="button" 
              
              (click)="searchTitle(recipeName)"
            >
              Search
            </button> 
          </div>
          </div>
          </div>

         
          <div class="card-group">
            <div class="row">
            <div class="card col-md-3" *ngFor="let recipe of recipeList"  (click)='clicked(recipe._id)'
                  
            [class.bg-dark]="isSelected(recipe)" [class.text-white]="isSelected(recipe)" routerLink="recipes">
            <img class="card-img-top" *ngIf="recipe.image?.url" [src]="recipe.image.url" [alt]="recipe.recipeName ">
          
             <p class="card-title">{{recipe.recipeName}}</p>
                      </div>
                    </div>
                    <div *ngFor="let recipe of favoriteRecipes">
                      <h2>{{ recipe.name }}</h2>
                      <p>{{ recipe.description }}</p>
                    
                    </div>

                      </div>

                    
<!-- 
        <div class="profile-header">
        <h1 class="profile-title"> Top Rated Recipes</h1>
      </div>
      <div class="recipe-list">
        <div class="recipe-item" *ngFor="let recipe of recipeList">
          <img class="img" *ngIf="recipe.image?.url" [src]="recipe.image.url" >
          <div class="recipe-details">
            <h3>{{ recipe.recipeName }}</h3>
           
            <button class="view-recipe-button">View Recipe</button>
          </div>
        </div>
      </div> -->
      
  <div class="row">
    <div class="col-md-4">
      <h3>Breakfast Recipes</h3>
      
        <img href="https://media.istockphoto.com/id/938158500/photo/breakfast-table.jpg?s=612x612&w=0&k=20&c=Y8xB6hfe4dSPNyNrPgzP7slHbKhWdEzG7YTk2WXu4lQ=">
        <li *ngFor="let recipe of breakfastRecipes" (click)='clicked(recipe._id)'
        
        [class.bg-dark]="isSelected(recipe)" [class.text-white]="isSelected(recipe)" routerLink="recipes">
          {{ recipe.recipeName }}
  
        </li>
      
    </div>
    <div class="col-md-4">
      <h3>Lunch Recipes</h3>
      <ul>
        <li *ngFor="let recipe of lunchRecipes" (click)='clicked(recipe._id)'
        
        [class.bg-dark]="isSelected(recipe)" [class.text-white]="isSelected(recipe)" routerLink="recipes">
          {{ recipe.recipeName }}
        
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Dinner Recipes</h3>
      <ul>
        <li *ngFor="let recipe of dinnerRecipes" (click)='clicked(recipe._id)'
        
        [class.bg-dark]="isSelected(recipe)" [class.text-white]="isSelected(recipe)" routerLink="recipes">
          {{ recipe.recipeName }}
         
        </li>
      </ul>
    </div>
  </div>
</div>
      </div>

