<div class="container">
    <div class="list row">
      <div class="col-md-8 " >
        <div class="input-group mb-3" >
          <input 
            type="text"
            class="form-control"
            placeholder="Search by meal"
           [(ngModel)]="recipeName"
          />
          <div class="input-group-append" >
            <button
              class="btn btn-outline-sescondary"
              type="button"  
              (click)="searchTitle()"
            >
              Search
            </button>
          </div>
        </div>
    
 
        <div class="profile-header">
        <h1 class="profile-title"> Top Rated Recipes</h1>
      </div>
      <div class="recipe-list">
        <div class="recipe-item" *ngFor="let recipe of recipeList">
          <img class="img" *ngIf="recipe.image?.url" [src]="recipe.image.url" >
          <div class="recipe-details">
            <h3>{{ recipe.recipeName }}</h3>
           
            <button class="view-recipe-button">View Recipe</button>
          </div>
        </div>
      </div>
      </div>