.container {
    padding-top: 80px;
    padding-right:300px ;
       position:centre;
       border:brown;
height:700px;
    
      }
      .input-group mb-3 {
        position:fixed;
      }
.card-col-md-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
      

      .card-img-top {
      
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    .card {
      padding-top:20px;
      width:180px;
      height:210px;
    }
     
    .card-title {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    }
    
     
