
  .img {
    padding:20px;
    height: 200px;
    width:400px;
    object-fit: cover;
}
.container {
    padding-top:80px;
    padding-right:180px;
  }
  .favorite-button {
    display: inline-block;
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }